xml/rutas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rutas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ruta" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string" />
                            <xs:element name="tipo" type="xs:string" />
                            <xs:element name="transporte" type="xs:string" />
                            <xs:element name="fecha" type="xs:date" minOccurs="0" />
                            <xs:element name="hora" type="xs:time" minOccurs="0" />
                            <xs:element name="duracion" type="xs:string" />
                            <xs:element name="agencia" type="xs:string" />
                            <xs:element name="descripcion" type="xs:string" />
                            <xs:element name="personas" type="xs:string" />
                            <xs:element name="lugarInicio" type="xs:string" />
                            <xs:element name="direccionInicio" type="xs:string" />
                            <xs:element name="coordenada" type="coordenadaTipo" />
                            <xs:element name="referencias" type="referenciasTipo" />
                            <xs:element name="recomendacion" type="recomendacionTipo" />
                            <xs:element name="hitos" type="hitosTipo" />
                            <xs:element name="planimetria" type="xs:string" />
                            <xs:element name="altimetria" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="coordenadaTipo">
        <xs:sequence>
            <xs:element name="longitud" type="xs:decimal" />
            <xs:element name="latitud" type="xs:decimal" />
            <xs:element name="altitud" type="xs:decimal" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="referenciasTipo">
        <xs:sequence>
            <xs:element name="referencia" type="xs:anyURI" minOccurs="3" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="recomendacionTipo">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="hitosTipo">
        <xs:sequence>
            <xs:element name="hito" type="hitoTipo" minOccurs="5" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hitoTipo">
        <xs:sequence>
            <xs:element name="nombreHito" type="xs:string" />
            <xs:element name="descripcionHito" type="xs:string" />
            <xs:element name="coordenada" type="coordenadaTipo" />
            <xs:element name="distanciaAnterior">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:decimal">
                            <xs:attribute name="unidades" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="galeriaFotos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="foto" type="xs:string" minOccurs="1" maxOccurs="5" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="galeriaVideos" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="video" type="xs:string" minOccurs="0" maxOccurs="3" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
